**/.DS_Store
**/data/configs/**/*.ini*
**/data/out/*.gco*
**/data/out/**/*.gco*
**/data/done/*.stl*
**/bin
**/target
target
**/.settings
**/.classpath
**/.checkstyle
slicing-server/src/main/resources/runtime.properties
slicing-server/data/out/bb/*.gcode