##  BigSlice Slicing Framework by Longevity Software LLC d.b.a. Terawatt Industries
##  is licensed under a Creative Commons Attribution-NonCommercial 3.0 Unported License.
##  Based on a work at https://github.com/Terawatt-Industries/bigslice.
##  Permissions beyond the scope of this license may be available at http://terawattindustries.com.

app.data.path=data
app.bgthread.size=[number-of-concurrent-command-line-slicers-in-background]
slicer.exec.path=[path-to-slicing-executable]	# can be semi-colon list for multiple execs
slicer.exec.outname.filter=[name-of-executable-to-use-in-output-filename]